.row {
  margin-bottom: 40px; }

input {
  width: 200px;
  height: 40px;
  border-radius: 100px;
  transition: all 2s; }

input:focus {
  width: 300px;
  height: 50px;
  font-size: 30px; }

@keyframes animacionImg {
  0% {
    transform: translateX(0px); }
  25% {
    transform: translateX(-80px); }
  50% {
    transform: translatex(80px); }
  100% {
    transform: translateX(0px); } }

.animacion {
  animation-name: animacionImg;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 5s; }

.formulario:focus {
  border: 3px solid black; }

.formulario .correo:invalid {
  background-color: yellow; }

.formulario .correo:valid {
  background-color: #ffffff4d; }

h1, a {
  color: pink; }

.btn.btn-primary.btn-lg.active.botonProd {
  background-color: pink; }

.botonCenter {
  text-align: center; }

.imagenInicio {
  width: 800px; }

.icon {
  width: 20px; }

.pIndex {
  background-color: pink; }

.row.presentacionIndex {
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px; }
  .row.presentacionIndex h1 {
    color: black; }

.pNosotras {
  display: flex;
  align-items: center; }

.fontSpecial {
  font-size: 25px; }

.collapse.navbar-collapse {
  justify-content: flex-end; }

.logo {
  width: 70px; }

.navbar-light .navbar-nav .active > .nav-link {
  font-weight: bold; }

.navbar-light .navbar-nav .active > .nav-link:hover {
  color: white; }

header {
  padding-bottom: 20px; }

footer li {
  list-style-type: none;
  justify-content: center; }

footer div.center {
  text-align: center; }

footer a.navFooter {
  color: black; }

footer a.navFooter:hover {
  color: white; }

footer .imgLogo {
  width: 60px; }

footer .imgRedes {
  width: 45px; }

footer .row {
  margin-bottom: 0px;
  margin-top: 70px; }

footer .ulCenter {
  padding-left: 0; }

header {
  width: 50%; }

/* h1 {
    width: $quarter-ancho*2;
} */
@media only screen and (max-width: 768px) {
  body h1 {
    font-size: 25px; }
  body h3 {
    font-size: 20px; }
  body h4 {
    font-size: 10px; }
  body .navFooter, body footer p, body h6 {
    font-size: 10px; } }

/* aca estamos creando la clase .col-1 hasta .col-5 */
.col-1 {
  padding: 5px; }

/* aca estamos creando la clase .col-1 hasta .col-5 */
.col-2 {
  padding: 10px; }

/* aca estamos creando la clase .col-1 hasta .col-5 */
.col-3 {
  padding: 15px; }

/* aca estamos creando la clase .col-1 hasta .col-5 */
.col-4 {
  padding: 20px; }

/* aca estamos creando la clase .col-1 hasta .col-5 */
.col-5 {
  padding: 25px; }

/* en vez de numeros tambien se pueden usar valores, ejemplo colores (en una lista) */
.font-black {
  color: black;
  background-color: transparent; }

.font-pink {
  color: pink;
  background-color: transparent; }

.font-violet {
  color: violet;
  background-color: transparent; }

.colorPrimario {
  color: #ffc0cb; }

.colorSecundario {
  color: violet; }

.colorWhite {
  color: white; }

.colorBlack {
  color: black; }

div {
  /*     color:map-get($map: $estilos, $key: color); */
  text-align: center; }

.boton, .botonEnviar, .botonReset {
  width: auto;
  padding: 10px;
  height: auto;
  font-size: 20px;
  color: black;
  background-color: #f3e4c8;
  border: 1px solid black;
  border-radius: 20px; }

.botonEnviar {
  background-color: pink; }

footer {
  color: black;
  background-color: pink; }

.navbar.navbar-expand-lg.navbar-light.bg-light {
  color: black !important;
  background-color: pink !important; }

/* tambien se puede hacer sin parametros */
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; }

.headerNativo {
  background-color: pink;
  width: auto; }

.navNativo {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.logo {
  justify-content: flex-start; }

.aNativo {
  color: black;
  text-decoration: none; }

.aNativo.bold {
  font-weight: bold; }

.aNativo:hover {
  color: white;
  text-decoration: underline; }

.liNativo {
  padding: 10px;
  list-style-type: none;
  display: inline; }

h6 {
  font-size: 1rem; }

.ulNativo {
  display: flex;
  justify-content: end;
  flex-wrap: wrap; }

@media only screen and (max-width: 768px) {
  .contenedorPadre {
    display: grid;
    grid-template-areas: "header"   "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .imgReceta {
    width: 100%;
    height: auto; } }

/* MEDIA QUERIE DESKTOP */
@media only screen and (min-width: 1024px) {
  .contenedorPadre {
    display: grid;
    grid-template-areas: "navLogo"   "navDer" "tituloReceta" "recetaUno" "recetaDos" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto; }
  .logo {
    grid-area: navLogo;
    display: grid;
    justify-content: left; }
  .navDer {
    grid-area: navDer; }
  .tituloReceta {
    grid-area: tituloReceta; }
  .recetaUno {
    grid-area: recetaUno; }
  .recetaDos {
    grid-area: recetaDos; }
  footer {
    grid-area: footer; }
  .imgReceta {
    width: 25%;
    height: auto; } }
