footer {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: aqua;
    
        .redes {
        text-align: center;
        }

        img {
            width: 60px;
        }
            .enlaceRedes:hover {
            color: rgb(243, 157, 243);
            }
}



