footer {


        li {
            list-style-type: none;
            justify-content: center;
        }

        div.center {
            text-align: center;
        }
        
        a.navFooter {
            color: black;
        }

        a.navFooter:hover {
            color: white;
        }
    
        .imgLogo{
            width: 60px;
        }

        .imgRedes {
            width: 45px;
        }

        .row{
            margin-bottom: 0px;
            margin-top: 70px;
        }

        .ulCenter {
            padding-left:0;
        }
        
}




