.collapse.navbar-collapse {
    justify-content: flex-end;
}

.logo {
    width: 70px;
}

.navbar-light .navbar-nav .active>.nav-link {
    font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color: white;
}


header {
    padding-bottom: 20px;
}