<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    <!-- cdn (SIN DESCARGAR) css de boostrap (antes de mi estilo.css) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    <!-- link a mi css (siempre ultimo)-->
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>

       <!-- HEADER + NAV -->
       <header class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                   <a href="../index.html"> <img src="../assets/img/logo.jpg" alt="logo" class="img-fluid logo"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Productos <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="sobreNosotras.html">Sobre nosotras <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="recetas.html">Recetas <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="contacto.html"> Contacto <span class="sr-only">(current)</span></a>
                        </li>
                      </ul>
                    </div>
                  </nav>

            </div>
        
        </div>
        </header>

        <!-- MAIN SECTION -->

        <main class="container-fluid">

            <div class="row">
                <div class="col-lg-12 col-12 text-center">
                    <h1>Productos disponibles para pedir!</h1>
                </div>

            </div>

            <div class="row mainSection">
                <div class="col-lg-3 col-12">

                    <img src="../assets/img/lemon.jpg" alt="lemon" class="img-fluid">
                    <p>LemonPie con mucho merengue</p>
                    <button type="button" class="btn btn-dark">Agregar al carrito $1150</button>

                </div>

                <div class="col-lg-3 col-12"> 

                    <img src="../assets/img/mousse.jpg" alt="mousse" class="img-fluid">
                    <p>Mousse de Dulce de Leche con base de salchichon y topping de dulce de leche y merengue</p>
                    <button type="button" class="btn btn-dark">Agregar al carrito $1200</button>
                </div>

                <div class="col-lg-3 col-12"> 
        
                    <img src="../assets/img/prodmousse.jpg" alt="mousse2" class="img-fluid">
                    <p>Mousse de dulce de leche, con base oreo y relleno de dulce de leche repostero con mas oreos</p>
                    <button type="button" class="btn btn-dark">Agregar al carrito $1200</button>
                </div>

                <div class="col-lg-3 col-12"> 
                    <img src="../assets/img/rogel.jpg" alt="rogel" class="img-fluid">
                    <p>Torta rogel/torta alfajor</p>
                    <button type="button" class="btn btn-dark">Agregar al carrito $1400</button>
                </div>

            </div>

            <div class="row mainSection">
                <div class="col-lg-3 col-12">

                <img src="../assets/img/bizcochuelo1.jpg" alt="bizc" class="img-fluid">
                <p>Bizcochuelo relleno de nutela bañado con ganache de chocolate</p>
                <button type="button" class="btn btn-dark">Agregar al carrito $1100</button>

            </div>

            <div class="col-lg-3 col-12"> 

                <img src="../assets/img/bizcochuelo2.jpg" alt="bizc2" class="img-fluid">
                <p>Bizcochuelo relleno de dulce de leche con cobertura de butter cream</p>
                <button type="button" class="btn btn-dark">Agregar al carrito $1100</button>
            </div>

            <div class="col-lg-3 col-12"> 
    
                <img src="../assets/img/golosinas.jpg" alt="golosinas" class="img-fluid">
                <p>Torta de chocolate decorada con barquillos y muchas golosians</p>
                <button type="button" class="btn btn-dark">Agregar al carrito $1450</button>
            </div>

            </div>

        </main>

        <!-- FOOTER -->
        <footer class="container-fluid">
            <div class="row">

                <div class="col-lg-4 col-12 redes">
                    <h1>Facebook</h1>
                </div>
                
                <div class="col-lg-4 col-12 redes">
                    <h1> <a href="https://www.instagram.com/magus_postres/" target="_blank" class="enlaceRedes">Instagram</a></h1>
                </div>

                <div class="col-lg-4 col-12 redes">
                    <h1>Whatsapp</h1>
                </div>

            </div>
        </footer>

    <!-- js bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
</body>
</html>