<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>

    <!-- cdn (SIN DESCARGAR) css de boostrap (antes de mi estilo.css) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    <!-- link a mi css (siempre ultimo)-->
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>

       <!-- HEADER + NAV -->
       <header class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                   <a href="../index.html"> <img src="../assets/img/logo.jpg" alt="logo" class="img-fluid logo"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="productos.html">Productos <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="sobreNosotras.html">Sobre nosotras <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Recetas <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="contacto.html"> Contacto <span class="sr-only">(current)</span></a>
                        </li>
                      </ul>
                    </div>
                  </nav>

            </div>
        
        </div>
        </header>

        <!-- MAIN SECTION -->

        <main class="container-fluid">

            <div class="row">
                <div class="col-lg-12 col-12 text-center">
                    <h1>Te dejamos algunas recetas que nos encantan!</h1>
                    <br>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-3 col-6">

                        <div>
                        <img src="../assets/img/cookies.jpg" alt="" class="img-fluid">
                        </div>
                </div>

                <div class="col-lg-3 col-6">
                        <div>
                            <h6>Cookies</h6>
                            <p>
                                Ingredientes: 250 grs harina, 150 grs azúcar, 2 huevos, 85 grs mantequilla, 1 cucharilla levadura, 1 cucharilla vainilla
                                <br>
                                Mezclar la harina, el azúcar, los dos huevos, la levadura y la esencia de vainilla.
                                <br>
                                Luego agregar la mantequilla derretida, dale la forma que mas te guste y metelas al horno a 180 grados por 20 minutos. Listo! A disfrutar.
                                
                            </p>
                        </div>
                </div>

                <div class="col-lg-3 col-6">
    
                    <div>
                            <img src="../assets/img/scones.jpg" alt="" class="img-fluid">
                        
                    </div>

                </div>
    
                <div class="col-lg-3 col-6">
                        <div>
                            <h6>Cookies</h6>
                            <p>
                                Ingredientes: 210 gr de harina, 40 gr de manteca, 1 cdita de mostaza, 100 grs de queso rallado, 1 pizca de sal y 100ml leche
                                <br>
                                Colocar en un bowl todos los ingredientes de la masa y unir.
                                Espolvorear harina en la mesada y estirar la masa a una altura de 2 cm. Cortar de la manera que elijas.
                                Llevar a un horno a 180°C por aproximadamente 20 minutos o hasta que estén dorados. Listo! A disfrutar.
                                
                            </p>
                        </div>
                </div>
                    
            </div>

               

        </main>

        <!-- FOOTER -->
        <footer class="container-fluid">
            <div class="row">

                <div class="col-lg-4 col-12 redes">
                    <h1>Facebook</h1>
                </div>
                
                <div class="col-lg-4 col-12 redes">
                    <h1> <a href="https://www.instagram.com/magus_postres/" target="_blank" class="enlaceRedes">Instagram</a></h1>
                </div>

                <div class="col-lg-4 col-12 redes">
                    <h1>Whatsapp</h1>
                </div>

            </div>
        </footer>

    <!-- js bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
</body>
</html>