<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="magus postres uruguay tortas dulces recetas scones cookies">
    <meta name="description" content="Magus postres! Para cocinar en casa te dejamos algunas recetas muy ricas! :)">
    <title>Recetas</title>

    <!-- Esta pagina es con CSS nativo -->
    
    <!-- link a mi css (siempre ultimo)-->
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    
    <div class="contenedorPadre">

       <!-- HEADER + NAV -->
       <header class="headerNativo">
            
            <nav class="navNativo">

                <a href="../index.html"> 
                    <img src="../assets/img/logo.jpg" alt="logo" class="logoNativo"> 
                </a>

                <div class="navDer">
                      <ul class="ulNativo">
                        <li class="liNativo">
                            <a href="../index.html" class="aNativo bold">Inicio</a>
                        </li>
                        <li class="liNativo">
                          <a href="productos.html" class="aNativo bold">Productos</a>
                        </li>
                        <li class="liNativo">
                            <a href="sobreNosotras.html" class="aNativo bold">Sobre nosotras</a>
                        </li>
                        <li class="liNativo">
                            <a href="recetas.html" class="aNativo bold">Recetas</a>
                        </li>
                        <li class="liNativo">
                            <a href="contacto.html" class="aNativo bold"> Contacto</a>
                        </li>
                      </ul>
                </div>
            
            </nav>
        </header>

        <!-- MAIN SECTION -->

        <main>

            <div class="tituloReceta">
                <h1>Te dejamos algunas recetas que nos encantan!</h1>
                <br>
            </div>

            <div class="recetaUno">
                
                <img src="../assets/img/cookies.jpg" alt="" class="imgReceta">

                <div>
                    <h3>Cookies</h3>
                    <p>
                        Ingredientes: 250 grs harina, 150 grs azúcar, 2 huevos, 85 grs mantequilla, 1 cucharilla levadura, 1 cucharilla vainilla
                        <br>
                        Mezclar la harina, el azúcar, los dos huevos, la levadura y la esencia de vainilla.
                        <br>
                        Luego agregar la mantequilla derretida, dale la forma que mas te guste y metelas al horno a 180 grados por 20 minutos. Listo! A disfrutar.
                                
                    </p>
                </div>
            </div>

            <div class="recetaDos">
                
                <img src="../assets/img/scones.jpg" alt="" class="imgReceta">
                
                <div >
                        
                    <h3>Scones de queso</h3>
                    <p>
                        Ingredientes: 210 gr de harina, 40 gr de manteca, 1 cdita de mostaza, 100 grs de queso rallado, 1 pizca de sal y 100ml leche
                        <br>
                        Colocar en un bowl todos los ingredientes de la masa y unir.
                        Espolvorear harina en la mesada y estirar la masa a una altura de 2 cm. Cortar de la manera que elijas.
                        Llevar a un horno a 180°C por aproximadamente 20 minutos o hasta que estén dorados. Listo! A disfrutar.
                        
                    </p>
                       
                </div>
                    
            </div>

               

        </main>

        <!-- FOOTER -->
        <footer>
            <div class="footerLogo">
                <a href="../index.html">
                    <img src="../assets/img/logo.jpg" alt="" class="imgLogo">
                </a>
                <p>Copyright © 2022 Magus Postres. 
                    <br>
                    All Rights Reserved.
                </p>
            </div>
            <div class="center footerNav">
                <h6>Navegacion:</h6>
                <ul class="ulCenter">
                <li><a href="../index.html" class="navFooter aNativo">Inicio</a></li>
                <li><a href="productos.html" class="navFooter aNativo">Productos</a></li>
                <li><a href="sobreNosotras.html" class="navFooter aNativo">Sobre nosotras</a></li>
                <li><a href="recetas.html" class="navFooter aNativo">Recetas</a></li>
                <li><a href="contacto.html" class="navFooter aNativo">Contacto</a></li>
                </ul>
            </div>
            <div class="footerRedes">   
                <h6>Contactanos:</h6>
                <img src="../assets/img/icons8-facebook.svg" alt="">
                
                <a href="https://www.instagram.com/magus_postres/" target="_blank" class="">
                    <img src="../assets/img/icons8-instagram.svg" alt="">
                </a>

                <img src="../assets/img/icons8-whatsapp.svg" alt="">
            </div>
        </footer>

    </div>

</body>
</html>